<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ashuo.scms.mapper.WorldMapper">

    <resultMap type="com.ashuo.scms.entity.World" id="WorldMap">
        <result property="id" column="id" />
        <result property="tId" column="t_id" />
        <result property="tName" column="t_name" />
        <result property="stage" column="stage" />
        <result property="status" column="status" />
    </resultMap>

    <!--查询单个-->
    <select id="queryOneId" parameterType="java.lang.Integer" resultMap="WorldMap">
        select
          id
        from world
        where  status  = 0 Limit 1
    </select>

    <update id="toRegister" parameterType="com.ashuo.scms.entity.World">
        update world set t_id = #{tId} , status = 1 Where id = #{id}
    </update>

    <select id="isRegister" resultMap="WorldMap" parameterType="java.lang.Integer">
        select status from world where  t_id = #{tId}
    </select>


</mapper>

